body {
  display: flex;
  flex-direction: row;
}

hr {
  margin-top: 20px;
}

.control {
  max-width: 25%;
  border-right: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: -10px;
}

button {
  background-color: black;
  color: white;
  padding: 5px;
  width: 90px;
}

.control h1 {
  font-size: 20px;
}

.control h2 {
  font-size: 18px;
}

.feature {
  margin-top: 20px;
}

.feature-row {
  display: flex;
  flex-direction: row;
}

.input {
  margin-top: 10px;
}

#draw-polygon {
  visibility: hidden;
}

#action {
  margin-top: -89px;
}
